.title {
  font-size: 120px;
  line-height: 120px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 260px;
  transform: translate(-50%, -50%);
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  }


.title2 {
  margin: 0;
  font-size: 50px;
  position: absolute;
  top: 07%;
  left: 140px;
  font-family: "Shippori Mincho B1", serif;
  font-style: normal;
  color: #ffffff;
  }

.title3 {
  margin: 0;
  font-size: 50px;
  position: absolute;
  top: 36%;
  left: 140px;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.list {
  margin: 0;
  font-size: 40px;
  top: 46%;
  position: absolute;
  left: 140px;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

body {
  background-image: url('../assets/overlay.gif'), url('../assets/background.png');
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  background-size: cover, cover;
  background-blend-mode: multiply;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

.icon {
	width:240px;
	height:240px;
	margin-right:140px;
	margin-top:120px;
	float: right;
	border-radius: 50%;
	border: 4px dashed #fff;
}

.text {
  color: #fff;
  margin: 0;
  font-size: 32px;
  top: 15%;
  position: absolute;
  left: 140px;
  right: 140px;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}
